{% extends "base.html" %}

{% block content %}
	<h1>Aide à l'utilisation</h1>
	<p>Le but de cette application est de 'traduire' une liste de numéros INAMI dans une structure particulière, définie dans les documents de spécifications.</p>

	<h1>Comment nous contacter?</h1>
	<p>Le code source de cette application est hébergé sur <a href="https://github.com/Onicha/Rizinami" alt="GitHub">GitHub</a>. En cas de problème, il vous est possible de laisser une issue ouverte depuis <a href="https://github.com/Onicha/Rizinami/issues" alt="">la page suivante</a>.</p>
{% endblock %}