{% extends "base.html" %}

{% block action %}Peer review settings{% endblock %}

{% block scripts %}	
	<<script type="text/javascript" language="javascript">
		$(document).ready(function(){
			$("#peerReviewForm").validate();
		});
	</script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#reviewDate').datepicker({
            	dateFormat: 'yy-mm-dd',
                date: $('#reviewDate').val(),
                current: $('#reviewDate').val(),
                firstDay: 1,
                starts: 1,
                position: 'r',
                changeMonth: false,
                changeYear: false,
                yearRange: "-5:+5",
                onBeforeShow: function () {
                    $('#reviewDate').datepickerSetDate($('#reviewDate').val(), true);
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
	<form id="peerReviewForm" action="/peerReview" method="post">
		<div>Activity number <input type="text" name="reviewName" cols="60" /></div>
		<div>Activity Date (format YYYY-MM-DD)<input type="text" id="reviewDate" name="reviewDate" cols="60" /></div>
		<div><textarea name="content" rows="10" cols="60"></textarea></div>
		<div><input type="submit" value="Send data"></div>
	</form>
{% endblock %}
